<h1>Detail</h1>
<img src="<%= recipie.image %>" alt="">
<h2>Ingredients</h2>
<ul>
<% recipie.extendedIngredients.forEach( e => { %>
    <li><%= `${e.name}: ${e.amount} ${e.unit}` %> </li>
<% }) %>
</ul>
<h2>Servings</h2>
<p><%= recipie.servings %> </p>
<h2>Ready in:</h2>
<p><%= recipie.readyInMinutes %> minutes </p>
<h2>Summary</h2>
<p><%= recipie.summary %></p>
<h2>Instructions</h2>
<p><%= recipie.instructions %></p>
<h2>Cuisines</h2>
<ul>
    <% recipie.cuisines.forEach( c => { %>
        <li><%= c %> </li>
    <% }) %>
</ul>
<h2>Diets</h2>
<ul>
    <% recipie.diets.forEach( d => { %>
        <li><%= d %> </li>
    <% }) %>
</ul>




<a href="<%= recipie.sourceUrl %>">Link to origional posting:</a>
