<div class="container z-depth-5">
    <h1><%= recipe.title %></h1>
    <img class="detailImage" src="<%= recipe.image %>" alt="recipe image"><br>
    <a href="<%= recipe.sourceUrl %>">Link to original posting</a>
    <h2>Safe Diets</h2>
    <ul>
        <% recipe.diets.forEach( d => { %>
            <li><%= d %> </li>
        <% }) %>
    </ul>
    <h2>Cook time:</h2>
    <p><%= recipe.readyInMinutes %> minutes </p>
    <h2>Ingredients</h2>
    <ul style="list-style-type:circle">
    <% recipe.extendedIngredients.forEach( e => { %>
        <li class="boring"><%= `${e.name}: ${e.amount} ${e.unit}` %> </li>
    <% }) %>
    </ul>
    <h2>Servings</h2>
    <p><%= recipe.servings %> </p>
    <h2>Instructions</h2>
    <% if(recipe.instructions) { %>
        <% const instructionsArray= recipe.instructions.split('.') %> 
        <% for(let i=0; i<instructionsArray.length-1;i++) { %>
            <p class="boring"><%= i+1 %>. <%= instructionsArray[i] %></p><br>
        <% } %> 
    <% } else { %>
        <p>Sorry, no instructions for this recipe</p>
    <% } %> 
    <h2>Summary</h2>
    <p><%- recipe.summary %></p>
    <!-- <h2>Cuisine Types</h2> -->
    <!-- <ul>
        <% //recipe.cuisines.forEach( c => { %>
            <li><%= //c %> </li>
        <% //}) %>
    </ul> -->
    <h4>Save to a folder?</h4>

    <form action="/profile/folders" method="POST">
        <label for="folderName"></label>
        <input type="text" name="folderName" id="folderName" placeholder="folder name here" required>
        <input hidden type="text" name="foodId" value="<%= recipe.id %>">
        <input hidden type="text" name="foodImg" value="<%= recipe.image %>">
        <input hidden type="text" name="foodTitle" value="<%= recipe.title %>">
        <button type="submit" class="waves-effect waves-light btn green accent-3"><i class="material-icons left">add</i>Make New/Add</button>
    </form> 
</div>