<h1>Detail</h1>
<div>
    <img src="<%= recipe.image %>" alt="">
    <h2>Ingredients</h2>
    <ul style="list-style-type:circle">
    <% recipe.extendedIngredients.forEach( e => { %>
        <li><%= `${e.name}: ${e.amount} ${e.unit}` %> </li>
    <% }) %>
    </ul>
    <h2>Servings</h2>
    <p><%= recipe.servings %> </p>
    <h2>Cook time:</h2>
    <p><%= recipe.readyInMinutes %> minutes </p>
    <h2>Summary</h2>
    <p><%- recipe.summary %></p>
    <h2>Instructions</h2>
    <p><%= recipe.instructions %></p>
    <h2>Cuisines</h2>
    <ul>
        <% recipe.cuisines.forEach( c => { %>
            <li><%= c %> </li>
        <% }) %>
    </ul>
    <h2>Diets</h2>
    <ul>
        <% recipe.diets.forEach( d => { %>
            <li><%= d %> </li>
        <% }) %>
    </ul>

    <h4>Create a new folder?</h4>

<form action="/profile/folders" method="POST">
    <label for="folderName"></label>
    <input type="text" name="folderName" id="folderName" placeholder="New folder name here" required>
    <button type="submit">Make New</button>
</form> 


    <a href="<%= recipe.sourceUrl %>">Link to original posting</a>
</div>